{
  "openapi": "3.0.3",
  "info": {
    "title": "Marketing Cloud Account Engagement API (fka Pardot API)",
    "description": "The Salesforce Marketing Cloud Account Engagement (formerly known as Pardot) API collection contains requests for the V5 Synchronous API.\n\n**⚠️ Disclaimers:**\n\n- This collection is provided as-is. It's not officially supported by Salesforce or covered by SLAs.\n    \n- API documentation is not provided with the collection. Please refer to the [official documentation](https://developer.salesforce.com/docs/marketing/pardot/overview).\n    \n\nℹ️ Report issues and ask questions [here](https://github.com/forcedotcom/postman-salesforce-apis/issues).\n\n## Get started\n\nFollow [this documentation](https://github.com/forcedotcom/postman-salesforce-apis/blob/master/README.md#installation) to get started with the collection.\n\n## Authentication\n\nThe collection works with OAuth 2.0 implicit grant. It comes predefined with collection variables (clientId, oauth_domain, domain), which are also set in the [Marketing Cloud Account Engagement Environment Template](https://www.postman.com/salesforce-developers/workspace/salesforce-developers/environment/12721794-0c164f7f-31ac-45ec-9dae-8d6fadb0175c). Follow the steps below to authenticate:\n\n1. Configure `Variables` in the Collection, and Environment (if using an Environment).\n    \n    1. Configure the `oauth_domain` for your login host, predefined to `login.salesforce.com`\n        \n    2. Configure the `domain` for your environment, predefined to `pi.pardot.com`\n        \n    3. Configure the `clientId` of your connected app\n        \n        1. Callers can use the predefined value instead of creating their own Connected App for hassle-free authentication\n            \n    4. Configure the `businessUnitId` for your Org\n        \n        1. Used when making requests, no predefined value since it is unique to each Org\n            \n2. Click `Get New Access Token` under the `Authorization` tab\n    \n3. Login in to your org in the Web UI and accept access from the Postman app\n    \n4. Click `Use Token`\n    \n5. Run your requests\n    \n\n## Variables Reference\n\nThe collection relies on the following variables:\n\n| Variable | Description |\n| --- | --- |\n| `oauth_domain` | The base login URL for authentication. Either:  <br>\\- `test.salesforce.com` for sandboxes or Scratch orgs  <br>\\- `login.salesforce.com` for production, Trailhead Playground and Developer Edition orgs  <br>\\- your custom My Domain base URL. |\n| `domain` | The base login URL for authentication. Either:  <br>\\- `pi.demo.pardot.com` for MCAE Sandboxes and Developer Environments  <br>\\- `pi.pardot.com` for MCAE Production instance |\n| `clientId` | Connected App client Id.  <br>Predefined value if using implicit auth:  <br>`3MVG98_Psg5cppyYCmk1gZNC25idGWVqOgpe57mV5xUCatGQVK23ZwysA_uRdOxn6PXzGUwQRxMjFlVHOkp84` |\n| `businessUnitId` | The Business Unit ID of your specific MCAE instance. |",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://pi.pardot.com"
    }
  ],
  "paths": {
    "/api/v5/objects/account": {
      "get": {
        "tags": [
          "Version 5",
          "Account"
        ],
        "summary": "Read",
        "description": "Read",
        "operationId": "read",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,company,level,website,pluginCampaignId,addressOne,addressTwo,city,state,zip,territory,country,phone,fax,adminId,createdAt,updatedAt,maximumDailyApiCalls,apiCallsUsed,createdById,updatedById,admin.id,admin.email,admin.firstName,admin.lastName,admin.username,admin.jobTitle,admin.role,admin.roleName,admin.salesforceId,admin.createdAt,admin.updatedAt,admin.isDeleted,admin.createdById,admin.updatedById,admin.tagReplacementLanguage,createdBy.id,createdBy.email,createdBy.firstName,createdBy.lastName,createdBy.username,createdBy.jobTitle,createdBy.role,createdBy.roleName,createdBy.salesforceId,createdBy.createdAt,createdBy.updatedAt,createdBy.isDeleted,createdBy.createdById,createdBy.updatedById,createdBy.tagReplacementLanguage,updatedBy.id,updatedBy.email,updatedBy.firstName,updatedBy.lastName,updatedBy.username,updatedBy.jobTitle,updatedBy.role,updatedBy.roleName,updatedBy.salesforceId,updatedBy.createdAt,updatedBy.updatedAt,updatedBy.isDeleted,updatedBy.createdById,updatedBy.updatedById,updatedBy.tagReplacementLanguage,pluginCampaign.id,pluginCampaign.name,pluginCampaign.folderId,pluginCampaign.cost,pluginCampaign.parentCampaignId,pluginCampaign.isDeleted,pluginCampaign.createdById,pluginCampaign.updatedById,pluginCampaign.createdAt,pluginCampaign.updatedAt,pluginCampaign.salesforceId"
            },
            "description": "(required) Account fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v5/bulk-actions": {
      "get": {
        "tags": [
          "Version 5",
          "Bulk Action"
        ],
        "summary": "Query",
        "description": "Query",
        "operationId": "query",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,object,bulkAction,status,origin,count,createdAt,updatedAt,createdById,updatedById,errorCount,fileName,processedCount"
            },
            "description": "(required) BulkAction fields to return"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "200"
            },
            "description": "integer - the number of records to return. This value must be between 1 and 1000, inclusive. Default value is 200."
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{nextPageToken}}"
            },
            "description": "the server provided value to retrieve the next page"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id ASC"
            },
            "description": "string - Order Results By: id, createdAt, updatedAt"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Version 5",
          "Bulk Action"
        ],
        "summary": "Create",
        "description": "Create",
        "operationId": "create",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,object,bulkAction,status,origin,count,percentComplete,createdAt,updatedAt,createdById,updatedById,errorCount,errorsRef,fileName,processedCount"
            },
            "description": "(required) BulkAction fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bulkAction": {
                    "type": "string",
                    "example": "delete"
                  },
                  "object": {
                    "type": "string",
                    "example": "prospect"
                  },
                  "sendSystemEmail": {
                    "type": "boolean",
                    "example": false
                  },
                  "status": {
                    "type": "string",
                    "example": "ready"
                  }
                }
              },
              "examples": {
                "Create": {
                  "value": {
                    "bulkAction": "delete",
                    "object": "prospect",
                    "sendSystemEmail": false,
                    "status": "ready"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v5/bulk-actions/{id}": {
      "get": {
        "tags": [
          "Version 5",
          "Bulk Action"
        ],
        "summary": "Read",
        "description": "Read",
        "operationId": "read1",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,object,bulkAction,status,origin,count,percentComplete,createdAt,updatedAt,createdById,updatedById,errorCount,errorsRef,fileName,processedCount,createdBy.id,createdBy.email,createdBy.firstName,createdBy.lastName,createdBy.username,createdBy.jobTitle,createdBy.role,createdBy.roleName,createdBy.salesforceId,createdBy.createdAt,createdBy.updatedAt,createdBy.isDeleted,createdBy.createdById,createdBy.updatedById,createdBy.tagReplacementLanguage,updatedBy.id,updatedBy.email,updatedBy.firstName,updatedBy.lastName,updatedBy.username,updatedBy.jobTitle,updatedBy.role,updatedBy.roleName,updatedBy.salesforceId,updatedBy.createdAt,updatedBy.updatedAt,updatedBy.isDeleted,updatedBy.createdById,updatedBy.updatedById,updatedBy.tagReplacementLanguage"
            },
            "description": "(required) BulkAction fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "Version 5",
          "Bulk Action"
        ],
        "summary": "Update",
        "description": "Update",
        "operationId": "update",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,object,bulkAction,status,origin,count,percentComplete,createdAt,updatedAt,createdById,updatedById,errorCount,errorsRef,fileName,processedCount"
            },
            "description": "(required) BulkAction fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bulkAction": {
                    "type": "string",
                    "example": "delete"
                  },
                  "object": {
                    "type": "string",
                    "example": "prospect"
                  },
                  "sendSystemEmail": {
                    "type": "boolean",
                    "example": false
                  },
                  "status": {
                    "type": "string",
                    "example": "ready"
                  }
                }
              },
              "examples": {
                "Update": {
                  "value": {
                    "bulkAction": "delete",
                    "object": "prospect",
                    "sendSystemEmail": false,
                    "status": "ready"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "(required) BulkAction record id"
        }
      ]
    },
    "/api/v5/objects/campaigns": {
      "get": {
        "tags": [
          "Version 5",
          "Campaign"
        ],
        "summary": "Query",
        "description": "Query",
        "operationId": "query1",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,folderId,cost,parentCampaignId,isDeleted,createdById,updatedById,createdAt,updatedAt,salesforceId"
            },
            "description": "(required) Campaign fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "200"
            },
            "description": "integer - the number of records to return. This value must be between 1 and 1000, inclusive. Default value is 200."
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{nextPageToken}}"
            },
            "description": "the server provided value to retrieve the next page"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional String Filter using name field"
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id ASC"
            },
            "description": "string - Order Results By: id, createdAt, updatedAt"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v5/objects/campaigns/{id}": {
      "get": {
        "tags": [
          "Version 5",
          "Campaign"
        ],
        "summary": "Read",
        "description": "Read",
        "operationId": "read2",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,folderId,cost,parentCampaignId,isDeleted,createdById,updatedById,createdAt,updatedAt,salesforceId,parentCampaign.id,parentCampaign.name,parentCampaign.folderId,parentCampaign.cost,parentCampaign.parentCampaignId,parentCampaign.isDeleted,parentCampaign.createdById,parentCampaign.updatedById,parentCampaign.createdAt,parentCampaign.updatedAt,parentCampaign.salesforceId,createdBy.id,createdBy.email,createdBy.firstName,createdBy.lastName,createdBy.username,createdBy.jobTitle,createdBy.role,createdBy.roleName,createdBy.salesforceId,createdBy.createdAt,createdBy.updatedAt,createdBy.isDeleted,createdBy.createdById,createdBy.updatedById,createdBy.tagReplacementLanguage,updatedBy.id,updatedBy.email,updatedBy.firstName,updatedBy.lastName,updatedBy.username,updatedBy.jobTitle,updatedBy.role,updatedBy.roleName,updatedBy.salesforceId,updatedBy.createdAt,updatedBy.updatedAt,updatedBy.isDeleted,updatedBy.createdById,updatedBy.updatedById,updatedBy.tagReplacementLanguage,folder.id,folder.createdAt,folder.createdById,folder.name,folder.parentFolderId,folder.path,folder.updatedAt,folder.updatedById,folder.usePermissions"
            },
            "description": "(required) Campaign fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v5/objects/campaigns/{id}/do/connectSalesforceCampaign": {
      "post": {
        "tags": [
          "Version 5",
          "Campaign"
        ],
        "summary": "Connect Salesforce Campaign",
        "description": "Connect Salesforce Campaign",
        "operationId": "connectSalesforceCampaign",
        "parameters": [
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "salesforceCampaignId": {
                    "type": "string",
                    "example": "salesforceCampaignId value"
                  }
                }
              },
              "examples": {
                "Connect Salesforce Campaign": {
                  "value": {
                    "salesforceCampaignId": "salesforceCampaignId value"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "(required) Campaign record id"
        }
      ]
    },
    "/api/v5/objects/custom-fields": {
      "get": {
        "tags": [
          "Version 5",
          "Custom Field"
        ],
        "summary": "Query",
        "description": "Query",
        "operationId": "query2",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,fieldId,apiFieldId,type,isRecordMultipleResponses,salesforceId,isUseValues,isAnalyticsSynced,createdAt,updatedAt,createdById,updatedById,isRequired"
            },
            "description": "(required) CustomField fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "200"
            },
            "description": "integer - the number of records to return. This value must be between 1 and 1000, inclusive. Default value is 200."
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{nextPageToken}}"
            },
            "description": "the server provided value to retrieve the next page"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional String Filter using name field"
          },
          {
            "name": "fieldId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional String Filter using fieldId field"
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id ASC"
            },
            "description": "string - Order Results By: id, createdAt, updatedAt"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Version 5",
          "Custom Field"
        ],
        "summary": "Create",
        "description": "Create",
        "operationId": "create1",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,fieldId,apiFieldId,type,isRecordMultipleResponses,salesforceId,isUseValues,isAnalyticsSynced,createdAt,updatedAt,createdById,updatedById,isRequired"
            },
            "description": "(required) CustomField fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fieldId": {
                    "type": "string",
                    "example": "fieldId value"
                  },
                  "isRecordMultipleResponses": {
                    "type": "boolean",
                    "example": false
                  },
                  "isRequired": {
                    "type": "boolean",
                    "example": false
                  },
                  "isUseValues": {
                    "type": "boolean",
                    "example": false
                  },
                  "name": {
                    "type": "string",
                    "example": "name value"
                  },
                  "salesforceId": {
                    "type": "string",
                    "example": "salesforceId value"
                  },
                  "type": {
                    "type": "string",
                    "example": "text"
                  },
                  "valuesPrefill": {
                    "type": "string",
                    "example": "countries"
                  }
                }
              },
              "examples": {
                "Create": {
                  "value": {
                    "fieldId": "fieldId value",
                    "isRecordMultipleResponses": false,
                    "isRequired": false,
                    "isUseValues": false,
                    "name": "name value",
                    "salesforceId": "salesforceId value",
                    "type": "text",
                    "valuesPrefill": "countries"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v5/objects/custom-fields/{id}": {
      "get": {
        "tags": [
          "Version 5",
          "Custom Field"
        ],
        "summary": "Read",
        "description": "Read",
        "operationId": "read3",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,fieldId,apiFieldId,type,isRecordMultipleResponses,salesforceId,isUseValues,isAnalyticsSynced,createdAt,updatedAt,createdById,updatedById,isRequired,createdBy.id,createdBy.email,createdBy.firstName,createdBy.lastName,createdBy.username,createdBy.jobTitle,createdBy.role,createdBy.roleName,createdBy.salesforceId,createdBy.createdAt,createdBy.updatedAt,createdBy.isDeleted,createdBy.createdById,createdBy.updatedById,createdBy.tagReplacementLanguage,updatedBy.id,updatedBy.email,updatedBy.firstName,updatedBy.lastName,updatedBy.username,updatedBy.jobTitle,updatedBy.role,updatedBy.roleName,updatedBy.salesforceId,updatedBy.createdAt,updatedBy.updatedAt,updatedBy.isDeleted,updatedBy.createdById,updatedBy.updatedById,updatedBy.tagReplacementLanguage"
            },
            "description": "(required) CustomField fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Version 5",
          "Custom Field"
        ],
        "summary": "Delete",
        "description": "Delete",
        "operationId": "delete",
        "parameters": [
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "Version 5",
          "Custom Field"
        ],
        "summary": "Update",
        "description": "Update",
        "operationId": "update1",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,fieldId,apiFieldId,type,isRecordMultipleResponses,salesforceId,isUseValues,isAnalyticsSynced,createdAt,updatedAt,createdById,updatedById,isRequired"
            },
            "description": "(required) CustomField fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fieldId": {
                    "type": "string",
                    "example": "fieldId value"
                  },
                  "isRecordMultipleResponses": {
                    "type": "boolean",
                    "example": false
                  },
                  "isRequired": {
                    "type": "boolean",
                    "example": false
                  },
                  "isUseValues": {
                    "type": "boolean",
                    "example": false
                  },
                  "name": {
                    "type": "string",
                    "example": "name value"
                  },
                  "salesforceId": {
                    "type": "string",
                    "example": "salesforceId value"
                  },
                  "type": {
                    "type": "string",
                    "example": "text"
                  },
                  "valuesPrefill": {
                    "type": "string",
                    "example": "countries"
                  }
                }
              },
              "examples": {
                "Update": {
                  "value": {
                    "fieldId": "fieldId value",
                    "isRecordMultipleResponses": false,
                    "isRequired": false,
                    "isUseValues": false,
                    "name": "name value",
                    "salesforceId": "salesforceId value",
                    "type": "text",
                    "valuesPrefill": "countries"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "(required) CustomField record id"
        }
      ]
    },
    "/api/v5/objects/custom-redirects": {
      "get": {
        "tags": [
          "Version 5",
          "Custom Redirect"
        ],
        "summary": "Query",
        "description": "Query",
        "operationId": "query3",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,salesforceId,folderId,name,destinationUrl,campaignId,trackerDomainId,vanityUrlPath,vanityUrl,trackedUrl,url,gaSource,gaMedium,gaTerm,gaContent,gaCampaign,bitlyIsPersonalized,bitlyShortUrl,createdAt,updatedAt,createdById,updatedById,isDeleted"
            },
            "description": "(required) CustomRedirect fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "200"
            },
            "description": "integer - the number of records to return. This value must be between 1 and 1000, inclusive. Default value is 200."
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{nextPageToken}}"
            },
            "description": "the server provided value to retrieve the next page"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id ASC"
            },
            "description": "string - Order Results By: id"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Version 5",
          "Custom Redirect"
        ],
        "summary": "Create",
        "description": "Create",
        "operationId": "create2",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,salesforceId,folderId,name,destinationUrl,campaignId,trackerDomainId,vanityUrlPath,vanityUrl,trackedUrl,url,gaSource,gaMedium,gaTerm,gaContent,gaCampaign,bitlyIsPersonalized,bitlyShortUrl,createdAt,updatedAt,createdById,updatedById,isDeleted"
            },
            "description": "(required) CustomRedirect fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaignId": {
                    "type": "number",
                    "example": 0
                  },
                  "destinationUrl": {
                    "type": "string",
                    "example": "https://example.com/url/path.html"
                  },
                  "folderId": {
                    "type": "number",
                    "example": 0
                  },
                  "gaCampaign": {
                    "type": "string",
                    "example": "gaCampaign value"
                  },
                  "gaContent": {
                    "type": "string",
                    "example": "gaContent value"
                  },
                  "gaMedium": {
                    "type": "string",
                    "example": "gaMedium value"
                  },
                  "gaSource": {
                    "type": "string",
                    "example": "gaSource value"
                  },
                  "gaTerm": {
                    "type": "string",
                    "example": "gaTerm value"
                  },
                  "name": {
                    "type": "string",
                    "example": "name value"
                  },
                  "trackerDomainId": {
                    "type": "number",
                    "example": 0
                  },
                  "vanityUrlPath": {
                    "type": "string",
                    "example": "https://example.com/url/path.html"
                  }
                }
              },
              "examples": {
                "Create": {
                  "value": {
                    "campaignId": 0,
                    "destinationUrl": "https://example.com/url/path.html",
                    "folderId": 0,
                    "gaCampaign": "gaCampaign value",
                    "gaContent": "gaContent value",
                    "gaMedium": "gaMedium value",
                    "gaSource": "gaSource value",
                    "gaTerm": "gaTerm value",
                    "name": "name value",
                    "trackerDomainId": 0,
                    "vanityUrlPath": "https://example.com/url/path.html"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v5/objects/custom-redirects/{id}": {
      "get": {
        "tags": [
          "Version 5",
          "Custom Redirect"
        ],
        "summary": "Read",
        "description": "Read",
        "operationId": "read4",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,salesforceId,folderId,name,destinationUrl,campaignId,trackerDomainId,vanityUrlPath,vanityUrl,trackedUrl,url,gaSource,gaMedium,gaTerm,gaContent,gaCampaign,bitlyIsPersonalized,bitlyShortUrl,createdAt,updatedAt,createdById,updatedById,isDeleted,createdBy.id,createdBy.email,createdBy.firstName,createdBy.lastName,createdBy.username,createdBy.jobTitle,createdBy.role,createdBy.roleName,createdBy.salesforceId,createdBy.createdAt,createdBy.updatedAt,createdBy.isDeleted,createdBy.createdById,createdBy.updatedById,createdBy.tagReplacementLanguage,updatedBy.id,updatedBy.email,updatedBy.firstName,updatedBy.lastName,updatedBy.username,updatedBy.jobTitle,updatedBy.role,updatedBy.roleName,updatedBy.salesforceId,updatedBy.createdAt,updatedBy.updatedAt,updatedBy.isDeleted,updatedBy.createdById,updatedBy.updatedById,updatedBy.tagReplacementLanguage,trackerDomain.id,trackerDomain.domain,trackerDomain.isPrimary,trackerDomain.isDeleted,trackerDomain.validationStatus,trackerDomain.sslStatus,trackerDomain.sslRequestedById,trackerDomain.sslStatusDetails,trackerDomain.httpsStatus,trackerDomain.vanityUrlStatus,trackerDomain.validatedAt,trackerDomain.createdById,trackerDomain.updatedById,trackerDomain.createdAt,trackerDomain.updatedAt,trackerDomain.defaultCampaignId,trackerDomain.trackingCode,campaign.id,campaign.name,campaign.folderId,campaign.cost,campaign.parentCampaignId,campaign.isDeleted,campaign.createdById,campaign.updatedById,campaign.createdAt,campaign.updatedAt,campaign.salesforceId,folder.id,folder.createdAt,folder.createdById,folder.name,folder.parentFolderId,folder.path,folder.updatedAt,folder.updatedById,folder.usePermissions"
            },
            "description": "(required) CustomRedirect fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Version 5",
          "Custom Redirect"
        ],
        "summary": "Delete",
        "description": "Delete",
        "operationId": "delete1",
        "parameters": [
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "Version 5",
          "Custom Redirect"
        ],
        "summary": "Update",
        "description": "Update",
        "operationId": "update2",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,salesforceId,folderId,name,destinationUrl,campaignId,trackerDomainId,vanityUrlPath,vanityUrl,trackedUrl,url,gaSource,gaMedium,gaTerm,gaContent,gaCampaign,bitlyIsPersonalized,bitlyShortUrl,createdAt,updatedAt,createdById,updatedById,isDeleted"
            },
            "description": "(required) CustomRedirect fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaignId": {
                    "type": "number",
                    "example": 0
                  },
                  "destinationUrl": {
                    "type": "string",
                    "example": "https://example.com/url/path.html"
                  },
                  "folderId": {
                    "type": "number",
                    "example": 0
                  },
                  "gaCampaign": {
                    "type": "string",
                    "example": "gaCampaign value"
                  },
                  "gaContent": {
                    "type": "string",
                    "example": "gaContent value"
                  },
                  "gaMedium": {
                    "type": "string",
                    "example": "gaMedium value"
                  },
                  "gaSource": {
                    "type": "string",
                    "example": "gaSource value"
                  },
                  "gaTerm": {
                    "type": "string",
                    "example": "gaTerm value"
                  },
                  "name": {
                    "type": "string",
                    "example": "name value"
                  },
                  "trackerDomainId": {
                    "type": "number",
                    "example": 0
                  },
                  "vanityUrlPath": {
                    "type": "string",
                    "example": "https://example.com/url/path.html"
                  }
                }
              },
              "examples": {
                "Update": {
                  "value": {
                    "campaignId": 0,
                    "destinationUrl": "https://example.com/url/path.html",
                    "folderId": 0,
                    "gaCampaign": "gaCampaign value",
                    "gaContent": "gaContent value",
                    "gaMedium": "gaMedium value",
                    "gaSource": "gaSource value",
                    "gaTerm": "gaTerm value",
                    "name": "name value",
                    "trackerDomainId": 0,
                    "vanityUrlPath": "https://example.com/url/path.html"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "(required) CustomRedirect record id"
        }
      ]
    },
    "/api/v5/objects/dynamic-contents": {
      "get": {
        "tags": [
          "Version 5",
          "Dynamic Content"
        ],
        "summary": "Query",
        "description": "Query",
        "operationId": "query4",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,folderId,isDeleted,createdById,updatedById,createdAt,updatedAt,basedOn,basedOnProspectApiFieldId,trackerDomainId,embedCode,embedUrl,tagReplacementLanguage"
            },
            "description": "(required) DynamicContent fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "200"
            },
            "description": "integer - the number of records to return. This value must be between 1 and 1000, inclusive. Default value is 200."
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{nextPageToken}}"
            },
            "description": "the server provided value to retrieve the next page"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional String Filter using name field"
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id ASC"
            },
            "description": "string - Order Results By: id, createdAt, updatedAt"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Version 5",
          "Dynamic Content"
        ],
        "summary": "Create",
        "description": "Create",
        "operationId": "create3",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,folderId,isDeleted,createdById,updatedById,createdAt,updatedAt,baseContent,basedOn,basedOnProspectApiFieldId,trackerDomainId,embedCode,embedUrl,tagReplacementLanguage"
            },
            "description": "(required) DynamicContent fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "baseContent": {
                    "type": "string",
                    "example": "baseContent value"
                  },
                  "basedOnProspectApiFieldId": {
                    "type": "string",
                    "example": "basedOnProspectApiFieldId value"
                  },
                  "folderId": {
                    "type": "number",
                    "example": 0
                  },
                  "name": {
                    "type": "string",
                    "example": "name value"
                  },
                  "trackerDomainId": {
                    "type": "number",
                    "example": 0
                  }
                }
              },
              "examples": {
                "Create": {
                  "value": {
                    "baseContent": "baseContent value",
                    "basedOnProspectApiFieldId": "basedOnProspectApiFieldId value",
                    "folderId": 0,
                    "name": "name value",
                    "trackerDomainId": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v5/objects/dynamic-contents/{id}": {
      "get": {
        "tags": [
          "Version 5",
          "Dynamic Content"
        ],
        "summary": "Read",
        "description": "Read",
        "operationId": "read5",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,folderId,isDeleted,createdById,updatedById,createdAt,updatedAt,baseContent,basedOn,basedOnProspectApiFieldId,trackerDomainId,embedCode,embedUrl,tagReplacementLanguage,createdBy.id,createdBy.email,createdBy.firstName,createdBy.lastName,createdBy.username,createdBy.jobTitle,createdBy.role,createdBy.roleName,createdBy.salesforceId,createdBy.createdAt,createdBy.updatedAt,createdBy.isDeleted,createdBy.createdById,createdBy.updatedById,createdBy.tagReplacementLanguage,updatedBy.id,updatedBy.email,updatedBy.firstName,updatedBy.lastName,updatedBy.username,updatedBy.jobTitle,updatedBy.role,updatedBy.roleName,updatedBy.salesforceId,updatedBy.createdAt,updatedBy.updatedAt,updatedBy.isDeleted,updatedBy.createdById,updatedBy.updatedById,updatedBy.tagReplacementLanguage,folder.id,folder.createdAt,folder.createdById,folder.name,folder.parentFolderId,folder.path,folder.updatedAt,folder.updatedById,folder.usePermissions,trackerDomain.id,trackerDomain.domain,trackerDomain.isPrimary,trackerDomain.isDeleted,trackerDomain.validationStatus,trackerDomain.sslStatus,trackerDomain.sslRequestedById,trackerDomain.sslStatusDetails,trackerDomain.httpsStatus,trackerDomain.vanityUrlStatus,trackerDomain.validatedAt,trackerDomain.createdById,trackerDomain.updatedById,trackerDomain.createdAt,trackerDomain.updatedAt,trackerDomain.defaultCampaignId,trackerDomain.trackingCode"
            },
            "description": "(required) DynamicContent fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v5/objects/dynamic-content-variations": {
      "get": {
        "tags": [
          "Version 5",
          "Dynamic Content Variation"
        ],
        "summary": "Query",
        "description": "Query",
        "operationId": "query5",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,dynamicContentId,comparison,content,operator,value1,value2"
            },
            "description": "(required) DynamicContentVariation fields to return"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "200"
            },
            "description": "integer - the number of records to return. This value must be between 1 and 1000, inclusive. Default value is 200."
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{nextPageToken}}"
            },
            "description": "the server provided value to retrieve the next page"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "dynamicContentId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the dynamicContentId field"
          },
          {
            "name": "dynamicContentIdGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the dynamicContentId field"
          },
          {
            "name": "dynamicContentIdGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the dynamicContentId field"
          },
          {
            "name": "dynamicContentIdLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the dynamicContentId field"
          },
          {
            "name": "dynamicContentIdLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the dynamicContentId field"
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id ASC"
            },
            "description": "string - Order Results By: id"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Version 5",
          "Dynamic Content Variation"
        ],
        "summary": "Create",
        "description": "Create",
        "operationId": "create4",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,dynamicContentId,comparison,content,operator,value1,value2"
            },
            "description": "(required) DynamicContentVariation fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "example": "content value"
                  },
                  "dynamicContentId": {
                    "type": "number",
                    "example": 0
                  },
                  "operator": {
                    "type": "string",
                    "example": "is"
                  },
                  "value1": {
                    "type": "string",
                    "example": "value1 value"
                  },
                  "value2": {
                    "type": "string",
                    "example": "value2 value"
                  }
                }
              },
              "examples": {
                "Create": {
                  "value": {
                    "content": "content value",
                    "dynamicContentId": 0,
                    "operator": "is",
                    "value1": "value1 value",
                    "value2": "value2 value"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v5/objects/dynamic-content-variations/{id}": {
      "get": {
        "tags": [
          "Version 5",
          "Dynamic Content Variation"
        ],
        "summary": "Read",
        "description": "Read",
        "operationId": "read6",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,dynamicContentId,comparison,content,operator,value1,value2,dynamicContent.id,dynamicContent.name,dynamicContent.folderId,dynamicContent.isDeleted,dynamicContent.createdById,dynamicContent.updatedById,dynamicContent.createdAt,dynamicContent.updatedAt,dynamicContent.baseContent,dynamicContent.basedOn,dynamicContent.basedOnProspectApiFieldId,dynamicContent.trackerDomainId,dynamicContent.embedCode,dynamicContent.embedUrl,dynamicContent.tagReplacementLanguage"
            },
            "description": "(required) DynamicContentVariation fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v5/objects/emails": {
      "get": {
        "tags": [
          "Version 5",
          "Email"
        ],
        "summary": "Query",
        "description": "Query",
        "operationId": "query6",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,subject,userId,campaignId,listId,clientType,sentAt,prospectId,listEmailId,createdById,salesforceCmsId"
            },
            "description": "(required) Email fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "200"
            },
            "description": "integer - the number of records to return. This value must be between 1 and 1000, inclusive. Default value is 200."
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{nextPageToken}}"
            },
            "description": "the server provided value to retrieve the next page"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "sentAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using sentAt field"
          },
          {
            "name": "sentAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using sentAt field"
          },
          {
            "name": "sentAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using sentAt field"
          },
          {
            "name": "sentAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using sentAt field"
          },
          {
            "name": "sentAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using sentAt field"
          },
          {
            "name": "prospectId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the prospectId field"
          },
          {
            "name": "prospectIdGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the prospectId field"
          },
          {
            "name": "prospectIdGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the prospectId field"
          },
          {
            "name": "prospectIdLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the prospectId field"
          },
          {
            "name": "prospectIdLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the prospectId field"
          },
          {
            "name": "listEmailId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the listEmailId field"
          },
          {
            "name": "listEmailIdGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the listEmailId field"
          },
          {
            "name": "listEmailIdGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the listEmailId field"
          },
          {
            "name": "listEmailIdLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the listEmailId field"
          },
          {
            "name": "listEmailIdLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the listEmailId field"
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id ASC"
            },
            "description": "string - Order Results By: id, sentAt, prospectId"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v5/objects/emails/{id}": {
      "get": {
        "tags": [
          "Version 5",
          "Email"
        ],
        "summary": "Read",
        "description": "Read",
        "operationId": "read7",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,subject,htmlMessage,textMessage,userId,campaignId,listId,clientType,sentAt,prospectId,listEmailId,createdById,salesforceCmsId,createdBy.id,createdBy.email,createdBy.firstName,createdBy.lastName,createdBy.username,createdBy.jobTitle,createdBy.role,createdBy.roleName,createdBy.salesforceId,createdBy.createdAt,createdBy.updatedAt,createdBy.isDeleted,createdBy.createdById,createdBy.updatedById,createdBy.tagReplacementLanguage,user.id,user.email,user.firstName,user.lastName,user.username,user.jobTitle,user.role,user.roleName,user.salesforceId,user.createdAt,user.updatedAt,user.isDeleted,user.createdById,user.updatedById,user.tagReplacementLanguage,campaign.id,campaign.name,campaign.folderId,campaign.cost,campaign.parentCampaignId,campaign.isDeleted,campaign.createdById,campaign.updatedById,campaign.createdAt,campaign.updatedAt,campaign.salesforceId,listEmail.id,listEmail.name,listEmail.subject,listEmail.htmlMessage,listEmail.textMessage,listEmail.campaignId,listEmail.isPaused,listEmail.isSent,listEmail.isDeleted,listEmail.clientType,listEmail.createdById,listEmail.updatedById,listEmail.createdAt,listEmail.updatedAt,listEmail.sentAt,listEmail.operationalEmail,listEmail.trackerDomainId,listEmail.emailTemplateId,list.id,list.name,list.description,list.title,list.isDeleted,list.isDynamic,list.isPublic,list.isSalesforceVisible,list.createdById,list.updatedById,list.createdAt,list.updatedAt,list.folderId,list.campaignId,prospect.id,prospect.addressOne,prospect.addressTwo,prospect.annualRevenue,prospect.campaignId,prospect.campaignParameter,prospect.salesforceCampaignId,prospect.city,prospect.comments,prospect.company,prospect.contentParameter,prospect.convertedAt,prospect.convertedFromObjectName,prospect.convertedFromObjectType,prospect.country,prospect.createdAt,prospect.createdById,prospect.salesforceAccountId,prospect.salesforceContactId,prospect.salesforceLastSync,prospect.salesforceLeadId,prospect.salesforceOwnerId,prospect.department,prospect.email,prospect.emailBouncedAt,prospect.emailBouncedReason,prospect.employees,prospect.fax,prospect.firstActivityAt,prospect.firstAssignedAt,prospect.firstName,prospect.firstReferrerQuery,prospect.firstReferrerType,prospect.firstReferrerUrl,prospect.grade,prospect.industry,prospect.isDeleted,prospect.isDoNotCall,prospect.isDoNotEmail,prospect.isEmailHardBounced,prospect.isReviewed,prospect.isStarred,prospect.jobTitle,prospect.lastActivityAt,prospect.lastName,prospect.mediumParameter,prospect.notes,prospect.optedOut,prospect.password,prospect.phone,prospect.prospectAccountId,prospect.salesforceId,prospect.salutation,prospect.score,prospect.source,prospect.sourceParameter,prospect.state,prospect.termParameter,prospect.territory,prospect.updatedAt,prospect.updatedById,prospect.userId,prospect.website,prospect.yearsInBusiness,prospect.zip,prospect.assignedToId,prospect.profileId,prospect.salesforceUrl,prospect.lifecycleStageId,prospect.recentInteraction,prospect.doNotSell"
            },
            "description": "(required) Email fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v5/objects/email-templates": {
      "get": {
        "tags": [
          "Version 5",
          "Email Template"
        ],
        "summary": "Query",
        "description": "Query",
        "operationId": "query7",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,isOneToOneEmail,isDeleted,isAutoResponderEmail,isDripEmail,isListEmail,replyToOptions.type,replyToOptions.address,replyToOptions.userId,replyToOptions.prospectCustomFieldId,replyToOptions.accountCustomFieldId,senderOptions.type,senderOptions.address,senderOptions.name,senderOptions.userId,senderOptions.prospectCustomFieldId,senderOptions.accountCustomFieldId,subject,type,createdAt,updatedAt,createdById,updatedById,trackerDomainId,campaignId,folderId,tagReplacementLanguage"
            },
            "description": "(required) EmailTemplate fields to return"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "false"
            },
            "description": "boolean - return deleted records"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "200"
            },
            "description": "integer - the number of records to return. This value must be between 1 and 1000, inclusive. Default value is 200."
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{{nextPageToken}}"
            },
            "description": "the server provided value to retrieve the next page"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idGreaterThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "idLessThanOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional Integer Filter - filters the result by the id field"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional String Filter using name field"
          },
          {
            "name": "isOneToOneEmail",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            },
            "description": "Optional Boolean Filter using isOneToOneEmail field"
          },
          {
            "name": "createdAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "createdAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using createdAt field"
          },
          {
            "name": "updatedAt",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtBeforeOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "updatedAtAfterOrEqualTo",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-07-29T12:29:09-04:00"
            },
            "description": "Optional DateTime Filter using updatedAt field"
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id ASC"
            },
            "description": "string - Order Results By: id, createdAt, updatedAt"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          },
          {
            "name": "if-modified-since",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Mon, 29 Jul 2024 12:29:09 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Version 5",
          "Email Template"
        ],
        "summary": "Create",
        "description": "Create",
        "operationId": "create5",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,name,htmlMessage,textMessage,isOneToOneEmail,isDeleted,isAutoResponderEmail,isDripEmail,isListEmail,replyToOptions.type,replyToOptions.address,replyToOptions.userId,replyToOptions.prospectCustomFieldId,replyToOptions.accountCustomFieldId,senderOptions.type,senderOptions.address,senderOptions.name,senderOptions.userId,senderOptions.prospectCustomFieldId,senderOptions.accountCustomFieldId,subject,type,createdAt,updatedAt,createdById,updatedById,trackerDomainId,campaignId,folderId,tagReplacementLanguage"
            },
            "description": "(required) EmailTemplate fields to return"
          },
          {
            "name": "pardot-business-unit-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{businessUnitId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaignId": {
[...]
